<div class="dashboard-grid">
  <mat-card class="stat-card">
    <h3>Net Profit</h3>
    <p [ngClass]="summary.profit >= 0 ? 'pos' : 'neg'">₹ {{ summary.profit }}</p>
  </mat-card>

  <mat-card *ngIf="incomeExpenseChart">
    <apx-chart
      [series]="incomeExpenseChart.series"
      [chart]="incomeExpenseChart.chart"
      [xaxis]="incomeExpenseChart.xaxis"
      [colors]="incomeExpenseChart.colors">
    </apx-chart>
  </mat-card>

  <mat-card *ngIf="categoryChart">
    <apx-chart
      [series]="categoryChart.series"
      [chart]="categoryChart.chart"
      [labels]="categoryChart.labels">
    </apx-chart>
  </mat-card>
</div>