<nav class="sidebar">
  <mat-nav-list class="nav">

    <!-- ================= DASHBOARD (ALL) ================= -->
    <a mat-list-item
       class="item"
       *ngIf="showDashboard()"
       routerLink="/app/dashboard">
      <mat-icon class="icon">dashboard</mat-icon>
    </a>

    <!-- ================= EMPLOYEES (SYSTEM_ADMIN + MANAGER + HR) ================= -->
    <a mat-list-item
       class="item"
       *ngIf="showEmployees()"
       routerLink="/app/employees">
      <mat-icon class="icon">people</mat-icon>
    </a>

    <!-- ================= FINANCE (SYSTEM_ADMIN + FINANCE) ================= -->
    <a mat-list-item
       class="item"
       *ngIf="showFinance()"
       routerLink="/app/finance">
      <mat-icon class="icon">paid</mat-icon>
    </a>

    <!-- ================= PAYROLL (SYSTEM_ADMIN + FINANCE) ================= -->
    <a mat-list-item
       class="item"
       *ngIf="showPayroll()"
       routerLink="/app/payroll">
      <mat-icon class="icon">payments</mat-icon>
    </a>

    <!-- ================= DUTIES (SYSTEM_ADMIN + MANAGER + HR) ================= -->
    <a mat-list-item
       class="item"
       *ngIf="showDuties()"
       routerLink="/app/duties">
      <mat-icon class="icon">assignment</mat-icon>
    </a>

    <!-- ================= MY TASK (ALL ROLES) ================= -->
    <a mat-list-item
       class="item"
       *ngIf="showMyTask()"
       routerLink="/app/my-work">
      <mat-icon class="icon">task_alt</mat-icon>
    </a>

    <!-- ================= ATTENDANCE (SYSTEM_ADMIN + MANAGER + HR) ================= -->
    <a mat-list-item
       class="item"
       *ngIf="showAttendance()"
       routerLink="/app/attendance"
       matTooltip="Attendance"
       matTooltipPosition="right">
      <mat-icon class="icon">calendar_month</mat-icon>
    </a>

    <!-- ================= CLIENTS (MINI CRM) ================= -->
    <a mat-list-item
       class="item"
       *ngIf="showClients()"
       routerLink="/app/clients"
       matTooltip="Clients"
       matTooltipPosition="right">
      <mat-icon class="icon">business_center</mat-icon>
    </a>

    <!-- ================= CREDENTIALS (SYSTEM_ADMIN + HR) ================= -->
    <a mat-list-item
       class="item"
       *ngIf="showCredentials()"
       routerLink="/app/credentials">
      <mat-icon class="icon">admin_panel_settings</mat-icon>
    </a>

  </mat-nav-list>
</nav>